@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #000000;
  --accent: #cccccc47;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}

h1 {
  font-size: 48px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 20px;
  overflow-x: hidden;
}
